<?xml version="1.0"?>
<launch>
    <!-- SIM + FSW -->
    <!-- ARGS -->
    <arg name="x" default="0" doc="Initial x position of UAS in local frame [m]"/>
    <arg name="y" default="0" doc="Initial y position of UAS in local frame [m]"/>
    <arg name="z" default="0" doc="Initial z position of UAS in local frame [m]"/>
    <arg name="R" default="0" doc="Initial roll angle of UAS in local frame [rad]"/>
    <arg name="P" default="0" doc="Initial pitch angle of UAS in local frame [rad]"/>
    <arg name="Y" default="0" doc="Initial yaw angle of UAS in local frame [rad]"/>
    <arg name="rgvs" default="true" doc="Whether or not to simulate the two RGVs"/>
    <arg name="moving_rgvs" default="true" doc="Whether or not to make the two RGVs move"/>
    <arg name="fake_bluetooth_angles" default="false" doc="Whether or not to publish fake raw bluetooth angles"/>
    <arg name="fake_bluetooth_pointing_vectors" default="true" doc="Whether or not to publish fake bluetooth vectors"/>
    <arg name="fake_estimator" default="false" doc="Whether or not to publish fake RGV estimates"/>
    <arg name="rgv1_x" default="2" doc="Initial x position of RGV 1 in local frame [m]"/>
    <arg name="rgv1_y" default="2" doc="Initial x position of RGV 1 in local frame [m]"/>
    <arg name="rgv1_Y" default="0" doc="Initial x position of RGV 2 in local frame [rad]"/>
    <arg name="rgv2_x" default="-2" doc="Initial x position of RGV 2 in local frame [m]"/>
    <arg name="rgv2_y" default="-2" doc="Initial x position of RGV 2 in local frame [m]"/>
    <arg name="rgv2_Y" default="1.57079632679" doc="Initial x position of RGV 1 in local frame [rad]"/>
    <arg name="world" default="$(find rosardvarcsim)/worlds/main_sim_world.world" doc="Path to gazebo .world file"/>
    <arg name="sdf" default="$(find rosardvarcsim)/models/ardvarc_drone/ardvarc_drone.sdf" doc="Path to gazebo .sdf drone model"/>
    <arg name="gui" default="true" doc="Whther or not display the gazebo GUI. Disabling the GUI greatly improves performance."/>
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <!-- LAUNCH -->
    <include file="$(find rosardvarcsim)/launch/sim_and_fsw.launch" pass_all_args="true"/>
    
    <!-- BAG -->
    <!-- ARGS -->
    <arg name="bagname" default="test_bag" doc="Bag name prefix"/>
    <!-- LAUNCH -->
    <node pkg="rosbag" type="record" name="rosbag_recorder" args="record -o $(arg bagname) -b 0 bluetooth/az_els mavros/local_position/pose estimation/direction_vectors_uas estimation/estimated_rgv_states state_machine/mission_states state_machine/state_machine_criteria state_machine/forced usb_cam/image_raw/compressed estimation/rgv_local_projections camera/recent_rgv_sightings mavros/state mavros/setpoint_position/local"/>
</launch>